{% extends 'store/main.html' %}
{% load static %}
{% load custom_temp %}
{% block content %}

	<div class="main-container">
		{% for genre in genres %}
		{% if genre.product_set.all|length > 0 %}
		
		<div class="genre-section">
			<h5>{{genre.name}}</h5>	

			<div class="grid-container">	
				{% for product in genre.product_set.all|slice:":3" %}
				<div class="storebg text-center">

					<a href="{% url 'detail' product.id %}" data-toggle="popover" title="{{product.name}}" data-content="{{product.content}}"><img class="thumbnail" src="{{product.thumbnailURL}}"></a>		
					<div class="add-ftn">
						<div class="price">&#8377 {{product.price}}</div>
						{% if user.is_authenticated %}
						<div class="heart" {% if items|exists:product %} style="--background-color: {{ color1 }};" {% else %} style="--background-color:{{ color2 }};" {% endif %} data-product="{{product.id}}" data-action="add"></div>
						{% else %} 
						<div class="heart" {% if items|present:product.id %} style="--background-color: {{ color1 }};" {% else %} style="--background-color:{{ color2 }};" {% endif %} data-product="{{product.id}}" data-action="add"></div>
						{% endif %}	
					</div>

				</div>	
				{% endfor %}		
			</div>

			<div class="more-btn"><a href="{% url 'genre-list' genre.name|lower %}"><button>See more {{genre.name|title}}</button></a></div>
		</div>
		
		{% endif %}
		{% endfor %}		
	</div>

{% endblock content %}

